.displayweather {
  margin-top: 1.2rem;
  display: flex;
  flex-flow: column nowrap;
  color: rgba(241, 241, 241, 0.788);
}

.displayweather .maincard {
  width: fit-content;
  position: relative;
  border-radius: 20px;
  background-color: #d4e6b5;
  border: transparent;
  padding: 4rem 2rem;
}

.displayweather .maincard .cardtitle {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.5rem;
  color: #877B66;
}

.displayweather .maincard .cardsubtitle {
  position: relative;
  top:1rem;
  color: #695F4F;
}

.displayweather h1 {
  font-size: 5rem;
  color: #73903C;
}

.displayweather .weather-icon {
  width: 100px;
  top: 50px;
}

.desc{
  font-size: 1.5rem;
  color: rgba(34, 32, 32, 0.788);
}

.displayweather .weather-description {
  position: absolute;
  left: 10px;
  font-size: 1.4rem;
}
.displayweather .weatherdetails {
  margin-right: 3rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2rem;
  color: rgba(20, 18, 18, 0.788);
}
.displayweather .weatherdetails .section1 {
  justify-self: right;
  width: inherit;
}
h4 {
  text-align: left;
  font-size: 1.2rem;
  color: #877B66;
}

.displayweather .weatherdetails span {
  font-size: 1rem;
}

@media (max-width: 768px) {
  
}