@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Poppins:wght@200;400&family=Varela+Round&display=swap');
body {
  margin: 0;
  font-family: 'DM Sans', 'Poppins', 'Varela Round', sans-serif;
  background-color: rgb(226, 228, 227);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a{
  color: #84a98c;
  text-decoration: none;
}
a:hover {
  color: rgb(255, 250, 180);
}